In [15]:
import pandas as pd

train = pd.read_csv('../data/preliminary/train.csv')
train.info()
train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             240000 non-null  int64
 1   trans_date_trans_time  240000 non-null  object
 2   cc_num                 240000 non-null  int64
 3   merchant               240000 non-null  object
 4   category               240000 non-null  object
 5   amt                    240000 non-null  float64
 6   first                  240000 non-null  object
 7   last                   240000 non-null  object
 8   gender                 240000 non-null  object
 9   street                 240000 non-null  object
 10  city                   240000 non-null  object
 11  state                  240000 non-null  object
 12  zip                    240000 non-null  int64
 13  lat                    240000 non-null  float64
 14  long                   240000 non-null  float64
 15  city_pop               240000 non-null  int64
 16  job                    240000 non-null  object
 17  dob                    240000 non-null  object
 18  trans_num              240000 non-null  object
 19  unix_time              240000 non-null  int64
 20  merch_lat              240000 non-null  float64
 21  merch_long             240000 non-null  float64
 22  is_fraud               240000 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 42.1+ MB

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,1072349,2020-03-21 19:05:27,2242542703101233,fraud_Bahringer Group,health_fitness,1.40,Samuel,Jenkins,M,43235 Mckenzie Views Apt. 837,...,38.4921,-85.4524,564,Pensions consultant,1996-04-10,5a4c5bc47fd9ca60a9cdbe38423654b4,1363892727,37.965322,-85.661501,0
1,1123019,2020-04-12 21:34:21,4469777115158234880,"fraud_Douglas, Schneider and Turner",shopping_pos,9.73,Gregory,Graham,M,4005 Dana Glens,...,42.7280,-71.1810,47249,Market researcher,1980-11-22,af686a90fb3eff86e0a961d852550619,1365802461,43.044230,-71.136907,0
2,1287799,2020-06-17 16:24:29,4312133045694601139,fraud_Fritsch and Sons,health_fitness,21.84,Julian,Price,M,086 Pierce Cove,...,39.3764,-76.7290,33917,Company secretary,1977-06-12,f70fea505c5a765825aafb72d18c1aa5,1371486269,39.365746,-77.165503,0
3,640815,2019-09-29 19:34:07,30029052116970,fraud_Wiza LLC,misc_pos,8.16,Curtis,Young,M,4319 Watson Shoals Suite 658,...,42.1239,-79.1895,3833,Metallurgist,1970-10-09,61d6b585be9cad4fd36409019b693aaa,1348947247,42.692928,-78.435859,0
4,668880,2019-10-12 14:38:12,3500969075198072,fraud_Predovic Inc,shopping_net,184.55,Kenneth,Sanchez,M,0110 Ashley Forest,...,47.2271,-117.0819,895,Clothing/textile technologist,1999-05-31,e7fc0dc8be81974dacd6fc4c7e3c5362,1350052692,47.861069,-116.983182,0

In [16]:
test = pd.read_csv('../data/preliminary/test.csv')
test.info()
test.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             30000 non-null  int64
 1   trans_date_trans_time  30000 non-null  object
 2   cc_num                 30000 non-null  int64
 3   merchant               30000 non-null  object
 4   category               30000 non-null  object
 5   amt                    30000 non-null  float64
 6   first                  30000 non-null  object
 7   last                   30000 non-null  object
 8   gender                 30000 non-null  object
 9   street                 30000 non-null  object
 10  city                   30000 non-null  object
 11  state                  30000 non-null  object
 12  zip                    30000 non-null  int64
 13  lat                    30000 non-null  float64
 14  long                   30000 non-null  float64
 15  city_pop               30000 non-null  int64
 16  job                    30000 non-null  object
 17  dob                    30000 non-null  object
 18  trans_num              30000 non-null  object
 19  unix_time              30000 non-null  int64
 20  merch_lat              30000 non-null  float64
 21  merch_long             30000 non-null  float64
 22  is_fraud               30000 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 5.3+ MB

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,315706,2020-10-19 12:30:31,3566094707272327,"fraud_Hintz, Bauch and Smith",health_fitness,38.09,Kristina,Stewart,F,47029 Jimmy Tunnel Apt. 106,...,34.3795,-118.5230,34882,Health physicist,1971-04-25,bc12159fcac8af1773fef1d8a1302731,1382185831,34.809923,-118.111582,0
1,151754,2020-08-13 05:57:47,2610529083834453,fraud_Hackett-Lueilwitz,grocery_pos,206.44,Tanya,Dickerson,F,053 Kim Valley Suite 928,...,36.2416,-86.6117,22191,Prison officer,1994-07-27,3b1d9ac4a26f3c56b0cf4cc407250f8d,1376373467,36.644354,-87.480427,0
2,189099,2020-08-26 05:06:42,4873783502705038,fraud_Bahringer-Larson,grocery_net,51.76,Elizabeth,Maxwell,F,194 Goodman Fall Apt. 569,...,48.4786,-122.3345,14871,Public house manager,1974-03-10,6975ab8f7f26df75cc6046b07f7ceeb5,1377493602,48.784813,-123.198143,0
3,249823,2020-09-20 18:44:30,5540636818935089,fraud_Jakubowski Group,food_dining,89.38,Kenneth,Foster,M,329 Michael Extension,...,42.6911,-71.1605,76383,Geoscientist,1985-04-04,ee19c9619769485a654364e035b4c01f,1379702670,42.893355,-70.856259,0
4,487280,2020-12-16 13:22:16,213163860545705,"fraud_Lowe, Dietrich and Erdman",kids_pets,41.72,Mark,Tyler,M,82201 Bradley Radial Suite 703,...,33.1410,-82.5150,741,Claims inspector/assessor,1986-04-28,dac5f5438277e192aabd02e93ee6e1a1,1387200136,33.597864,-83.314567,0

In [17]:
validation = pd.read_csv('../data/preliminary/validation.csv')
validation.info()
validation.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             30000 non-null  int64
 1   trans_date_trans_time  30000 non-null  object
 2   cc_num                 30000 non-null  int64
 3   merchant               30000 non-null  object
 4   category               30000 non-null  object
 5   amt                    30000 non-null  float64
 6   first                  30000 non-null  object
 7   last                   30000 non-null  object
 8   gender                 30000 non-null  object
 9   street                 30000 non-null  object
 10  city                   30000 non-null  object
 11  state                  30000 non-null  object
 12  zip                    30000 non-null  int64
 13  lat                    30000 non-null  float64
 14  long                   30000 non-null  float64
 15  city_pop               30000 non-null  int64
 16  job                    30000 non-null  object
 17  dob                    30000 non-null  object
 18  trans_num              30000 non-null  object
 19  unix_time              30000 non-null  int64
 20  merch_lat              30000 non-null  float64
 21  merch_long             30000 non-null  float64
 22  is_fraud               30000 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 5.3+ MB

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,1032241,2020-03-03 14:32:35,4906628655840914250,fraud_Feil-Morar,health_fitness,283.13,Charles,Moreno,M,838 Franklin Prairie Apt. 902,...,24.6557,-81.3824,32891,Town planner,1987-02-13,cad774f9be5e482b8a7eb4bb10c3893d,1362321155,25.512218,-82.292661,0
1,921195,2019-12-30 21:32:22,571365235126,fraud_Jakubowski Group,food_dining,6.57,Barbara,Taylor,F,0069 Robin Brooks Apt. 695,...,44.5995,-86.2141,372,"Exhibitions officer, museum/gallery",1995-07-12,e1cf7e14ffbb8ac4888982f79147694a,1356903142,44.034668,-85.607445,0
2,869168,2019-12-19 23:13:48,4755696071492,fraud_Erdman-Ebert,personal_care,12.23,Robert,Evans,M,01892 Patricia Vista Apt. 828,...,32.9643,-96.6012,20328,Site engineer,1985-06-20,2729c48fe5eb11ab671aa3341236cebc,1355958828,32.598802,-96.689835,0
3,956492,2020-01-19 14:48:11,370612217861404,"fraud_Greenholt, O'Hara and Balistreri",shopping_net,6.35,Amanda,Fitzgerald,F,298 Kayla Lights,...,40.1159,-74.8536,21125,"Administrator, charities/voluntary organisations",1985-05-25,36d2a37aab561bb9335e82f1df4f96c7,1358606891,39.889060,-75.542567,0
4,263801,2019-05-11 13:45:14,4378993458389626,"fraud_Schneider, Hayes and Nikolaus",food_dining,2.93,Travis,Hayes,M,1561 Chase Grove,...,43.9742,-71.1503,3807,Surgeon,1999-10-25,32a8bdeca822ad81674e544dbddc3ef3,1336743914,43.643013,-70.210856,0